.footer {
  flex-direction: row;
  position: relative;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: x-small;
  max-width: 100%;
  background-color: transparent !important;
}

.footer p {
  margin: 0;
}

.footer .text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.footer .right-content {
  margin-left: auto;
}

.footer .left-content {
  margin-right: auto;
}
