.header {
    flex-direction: row;
    background-color: rgb(53, 255, 248);
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  p {
    text-align: left;
    font-weight: bolder;
    margin: 0;
  }
  
  .login-header {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
  }
  
  .login-header p {

    margin-right: 10px;
  }
  
  h1 {
    text-align: center;
  }

  .header img {
    width: 50px; /* Set the desired width */
    height: 50px; /* Set the desired height */
  }
  .login-header a {
    text-decoration: none; /* Remove underline */
  }