.header {
  flex-direction: row;
  background-color: rgb(53, 255, 248);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

p {
  text-align: left;
  font-weight: bolder;
  margin: 0;

}

.login-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 10px;
  gap: 50px;
}

.login-header p {
  margin-right: 20px;
}

h1 {
  text-align: center;
}

.header img {
  width: 50px; /* Set the desired width */
  height: 50px; /* Set the desired height */
}

.login-header a {
  text-decoration: none; /* Remove underline */
}

/* Responsive Styles */


  .login-header {
    justify-content: center;
 
  }

  h1 {
    margin-top: 10px;
  }

