.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
}

.centered-expenses,
.centered-incomes {
  width: 35%;
  padding: 3rem;
  text-align: center;
}

.centered-expenses {
  margin-right: 2rem;
}

.centered-incomes {
  margin-left: 2rem;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  background-color: aquamarine;
  border-radius: 20px;
  padding: 10px;
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
  

}

h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  background-color: green;
  padding: 10px;
  width: fit-content;
  border-radius: 20px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
}

/* Responsive Styles */


  h2 {
    font-size: 1rem;
    padding: 5px;
  }

  h4 {
    font-size: 0.8rem;
    padding: 5px;
  }
  h1{
    padding-top: 30px;
  }

