.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140vh;
}

.centered-expenses,
.centered-incomes {
  width: 40%;
  padding: 1rem;
  text-align: center;
}

.centered-expenses {
  margin-right: 1rem;
}

.centered-incomes {
  margin-left: 1rem;
}




/* 

.expenses {
  width: 50%;
  height: 80vh;
  float: left;
}

.incomes {
  width: 50%;
  height: 80vh;
  float: right;
} */
