.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 135vh;
}

.centered-expenses,
.centered-incomes {
  width: 40%;
  padding: 1rem;
  text-align: center;
}

.centered-expenses {
  margin-right: 2rem;
}

.centered-incomes {
  margin-left: 2rem;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  background-color: aquamarine;
  border-radius: 20px;
  padding: 10px;
  width: fit-content;
}
h4 {

  font-size: large;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: fit-content;
  border-radius: 20px;
 
  height: 5vh;
}
/* 

.expenses {
  width: 50%;
  height: 80vh;
  float: left;
}

.incomes {
  width: 50%;
  height: 80vh;
  float: right;
} */
