/* Expense.css */

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Total Amount Style */
.total-amount {
  margin-top: 20px;
  font-weight: bold;
}

/* Optional: Adjust the styling of the form elements based on your design */

/* Example styling for input elements */
.label-container {
  display: flex;
  align-items: center;
}

.label-container > label {
  margin-right: 10px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container > input[type="text"],
.input-container > input[type="number"],
.input-container > select {
  width: 300px; /* Adjust the width as needed */
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Additional styling can be added as needed */
.small-button {
<<<<<<< HEAD
    font-size: 12px;
    padding: 5px 10px;
  }
  
  .total-amount {
    margin-top: 20px;
    margin-bottom: 10px; /* Adjust as needed */
    font-weight: bold;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

=======
  font-size: 12px;
  padding: 5px 10px;
}

.total-amount {
  margin-top: 20px;
  margin-bottom: 10px; /* Adjust as needed */
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.amount-input {
  display: flex;
  align-items: center;
}

.dollar-sign {
  font-size: 16px;
  margin-right: 5px;
}
>>>>>>> 58ecff055e49470263a3097e9757fe221fcbc07a
