*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(207, 251, 251);
}
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.input {
  margin: 0px;
  background: linear-gradient(to right, rgb(0, 149, 255), rgb(124, 79, 223));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  border-radius: 20px;
  word-wrap: break-word;
  word-break: break-all;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  padding-left: 115px;
  padding-right: 115px;
  border: 1px solid rgb(198, 235, 239);
  background-color: rgb(8, 217, 240);

  border-radius: 20px;
}

button:active {
  background-color: #0099ff;
  transform: scale(0.95);
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  word-wrap: break-word;
  word-break: break-all;
} */

.Signup {
  padding-left: 80px;
  padding-top: 40px;
}
