body {
  margin: 0;
  padding: 0;
}

.title-container {
  background-image: url('../images/city.jpg') ;
  background-size: cover;
  animation: moveBackground 15s linear infinite;
  height: 125vh;
  width: 100vw;
  margin-top: 0;
  text-align: center;
;
}

.welcome {
  margin: 5px;

}

img {
  height: 100px;
  width: 200px;
}
h1 {
  margin-top:0;
}