body {
  margin: 0;
  padding: 0;
  /*  */
  overflow: hidden;
}

.title-container {
  background-image: url('../images/city.jpg') ;
  background-size: cover;
  animation: moveBackground 15s linear infinite;
  height: 150vh;
  /* height: 150vh; */
  width: 100vw;
  text-align: center;
;
}

.welcome {
  margin: 0;
}

img {
  height: 150px;
  width: 200px;
  /*  */
  display: block;
  margin: 0 auto;
}